/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

.projects img {
  width: 100%;
}

/* color */
.bg-primary {
  background: #ddc0b4;
}

.bg-secondery {
  background: #5b4744;
}

.bg-accent {
  background: #896b66;
}

.text-accent {
  color: #896b66;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #896b66;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
h1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5 !important;
}
